* {
    margin: 0%;
    padding: 0%;
}

.autoplay {
    height: 85%;
    width: 85%;
    margin-left: 100px;
    padding-left: 50px;
}

.aboutContent {
    margin-top: 8%;
}

.aboutParagraph {
    margin-right: 65px;
}

.aboutImg {
    height: 150%;
    width: 150%;
}

img {
    height: 50%;
    width: 30%;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 150px;
}

.sectionOne {
    height: 529px;
    background-color: aquamarine;
}

.sectionTwo {
    height: 530px;
    background-color: aquamarine;
}

.container,
.downloads {
    background-color: aquamarine;
}

.container-right {
    margin: 5% 10% 10% 0%;
}

.row {
    width: 120%;
}

.media-submit {
    width: 100%;
}

.form-control {
    padding-right: 300px;
}

@media (min-width: 300px) and (max-width: 430px) {
    img{
        /* margin-right: 100px; */
    }
    .container {
        display: flex;
        flex-direction: column;
    }

    .form-control {
        width: 65%;
    }

    .media-submit {
        width: 88%;
    }

    .autoplay {
        height: 100%;
        width: 100%;
        margin: 0 5px 0 0;
        padding-right: 45px;
    }

    .path.d-flex.justify-content-center.pb-5 {
        margin-left: 60px;
    }

    .aboutContent.d-flex.ms-5.me-5 {
        display: flex;
        flex-direction: column;
    }

    .sectionOne {
        height: 100%;
    }

    .sectionTwo {
        height: 50%;
        padding-bottom: 40px;
    }

    .aboutImg {
        height: 70%;
        width: 70%;
    }

    .aboutParagraph {
        margin-right: -5px;
        margin: 30px 0px;
    }
}

@media  (min-width: 430px) and (max-width: 720px) {
    img {
        height: 50%;
        width: 50%;
        margin-left: 250px;
    }

    .aboutImg {
        width: 25%;
        height: 25%;
    }

    .form-control {
        padding-right: 86%;
    }
}

@media (min-width: 720px) and (max-width: 890px) {
    .aboutImg {
        width: 25%;
        height: 25%;
        margin-left: 80px;
    }

    .aboutParagraph {
        margin-left: 10%;
    }
}

@media (min-width: 890px) and (max-width: 1024px) {
    img {
        height: 50%;
        width: 50%;
        margin: 28px 0 0 100px;
    }

    .aboutParagraph {
        margin-bottom: 10%;
        margin-left: 4%;

    }

    .aboutContent {
        padding-top: 20px;
    }
}
